.add_note_container {
    margin-top: 5px;
    margin-left: 4px;
}

.add_note {
    text-align: left;
    color: grey;
    font-weight: 500;
    width: 252px;
    height: 30px;
    border-radius: 5px;
}

.add_note span {
    position: relative;
    top: 2px;
    font-size: 24px;
}

.add_note:hover {
    background-color: rgb(226, 223, 223);
}

.on_add_note {
    width: 252px;

}

.on_add_note textarea {
    resize: none;
    width: 245px;
    height: 52px;
}

.add_note_actions {
    position: relative;
    bottom: 5px;
    float: left;
}

.on_add_note button {
    border: none;
    border-radius: 5px;
    background-color: #C4C4C4;
    height: 30px;
}

.on_add_note span {
    position: relative;
    left: 10px;
    user-select: none;
    color: #555555;
    font-size: 26px;
    top: 3px;

}