.note_container {
    width: 254px;
    padding-bottom: 5px;
    margin-left: 3px;
    margin-top: 15px;
    text-align: left;
    -webkit-box-shadow: 0 2px 4px -2px rgb(128, 128, 128);
    -moz-box-shadow: 0 2px 4px -2px rgb(128, 128, 128);
    box-shadow: 0 2px 4px -2px rgb(128, 128, 128);
}

.note {
    margin-left: 5px;
    word-break: break-all;
}