.note_container {
    width: 254px;
    margin-left: 3px;
    margin-top: 15px;
    text-align: left;
    -webkit-box-shadow: 0 4px 4px -2px #222;
    -moz-box-shadow: 0 4px 4px -2px #222;
    box-shadow: 0 4px 4px -2px #222;
}

.note {
    word-break: break-all;
}