
#boards a{
    outline: none;
    text-decoration: none;
}
.board {
    background-color: #C4C4C4;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    width: 200px;
    height: 70px;
    margin: auto;
    border-radius: 5px;
}

.board p {
    color: white;
    font-size: 30px;
    position: relative;
    top: 13px;
}