#title {
    font-size: 48px;
    color: #68a0f5;
}

#boards_content {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 70vh;
    width: 80vw;
    user-select: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 2vw;
    row-gap: 1vh;
    margin-left: 10vw;
    margin-bottom: 3vh;
}

#create_board {
    background-color: #C4C4C4;
    width: 25vw;
    height: 70px;
    border-radius: 5px;
    margin-left: 37vw;

}

#create_board p {
    color: white;
    font-size: 30px;
    

}
