#board_title {
    position: fixed;
    height: 10%;
    width: 100%;
    user-select: none;
}

#board_title h2 {
    font-size: 36px;
}

#content {
    position: fixed;
    display: grid;
    float: left;
    top: 12%;
}

#lists {
    display: flex;
}